<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>جستجو</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>درخواست</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>درباره ما</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
